.image {
	background-image: url(https://images.pexels.com/photos/683039/pexels-photo-683039.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
	height: 250px;
}

.header {
    padding-top: 10px;
	color: white;
	font-size: 3em;
	text-align: center;
    font-family: sans-serif ;
}

#myheader {
    padding-top: 0px;
    color: white;
    font-size: 3em;
    text-align: center;
    font-family: sans-serif;
}

#anotherheader{
    color:white;
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
}

.purple{
    color : purple
}

.red{
    color:red
}

.yellow{
    color: yellow
}

.orange{
    color: orange
}

.green{
    color: green
}

.blue{
    color:blue
}

.lightblue{
    color:aqua
}

p{
    padding-top:10px;
    color: black;
    font-size:2em;
    font-family:times new roman;
}

li{
    color: black;
    font-size: 2em;
    font-family: times new roman;
}

/*design for mobile */
@media(max-width:320px){
    body{
        background-color: lightskyblue;
    }
}

/*design for desktop */
@media(max-width:2000px min-width:){
    body{
        background-color: lightpink;
    }
}

/* design for tablets */
@media(max-width:768px){
    body{
        background-color: lightgoldenrodyellow;
    }
}

/*design for mobile */
@media(max-width:320px){
    body{
        background-color: skyblue;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

 h3{
    font-family: arial;
    font-size: 3em;
 }