.image {
	background-image: url(https://images.pexels.com/photos/683039/pexels-photo-683039.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
	height: 250px;
}

.header {
	padding-top: 50px;
	color: white;
	font-size: 50px;
	text-align: center;
    font-family: sans-serif ;
}

#myheader {
    padding-top:30px;
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
}

.purple{
    color : purple
}

.red{
    color:red
}

.yellow{
    color: yellow
}

.orange{
    color: orange
}

.green{
    color: green
}

.blue{
    color:blue
}

.lightblue{
    color:aqua
}

p{
    padding-top: 20px;
    color: black;
    font-size:25px;
    font-family:monospace;
}

li{
    color: black;
    font-size: 25px;
    font-family: monospace;
}

/* design for tablets */
@media(max-width:768px){
    body{
        background-color: lightslategrey;
    }
}

/*design for mobile */
@media(max-width:320px){
    body{
        background-color: peachpuff;
    }
}

/*design for desktop */
@media(max-width:2000px){
    body{
        background-color: pink;
    }
}